body {
  /*background-color: #424242;*/
}

ul {
  margin-left: -2%;
}

.edit-button {
  color: white;
  width: 70px;
  height: 70px;
  font-size: 8px;
  font-weight: bolder;
  background-color: #2B2B2B;
  margin-top: 5px;
  border-radius: 0.5em;
}

.operation_button_set {
  list-style-type: none;
  overflow: hidden;
  /*float: right;*/
  right: 50px;
  display: block;
  position: absolute;
  bottom: 2%;
}

.operation_button_set li div {
  display: inline-block;
  margin-right: 5px;
}

.operation_button {
  color: white;
  width: 70px;
  height: 70px;
  font-size: 8px;
  font-weight: bolder;
  background-color: #2B2B2B;
  margin-top: 5px;
  border-radius: 0.5em;
}

#quick-edit {
  color: white;
  width: 70px;
  height: 70px;
  font-size: 8px;
  font-weight: bolder;
  background-color: #2B2B2B;
  /*margin-top: 8%;*/
  border-radius: 0.5em;
  margin-left: 34%;
  margin-top: 80%;
  /*right: 0px;*/
}

.quick-edit-button, .adjustment-button, .effect-button, .border-button {
  color: white;
  width: 70px;
  height: 70px;
  font-size: 8px;
  font-weight: bolder;
  background-color: #2B2B2B;
  margin-top: 5px;
  border-radius: 0.5em;
  position: inherit;
}

#image-div {
  min-width: 0px;
  min-height: 0px;
  width: 60%;
  height: 60%;
  position: absolute;
  z-index: -1;
  left: 0px;
  top: 0px;
  margin: 0 auto;
  margin-top: 10%;
  margin-left: 20%;
  /*background-color: white;*/
}

#editing-image {
  max-height: 100%;
  max-width: 100%;
}

#slider-container {
  background-color: #2B2B2B;
  position: absolute;
  bottom: 40px;
  width: 30%;
  margin-left: 30%;
}

#slider {
  width: 90%;
  margin-top: 4px;
  margin-right: 4px;
}



.blur {
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

.brightness {
  -webkit-filter: brightness(250%);
  filter: brightness(250%);
}

.contrast {
  -webkit-filter: contrast(180%);
  filter: contrast(180%);
}

.greyscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.huerotate {
  -webkit-filter: hue-rotate(180deg);
  filter: hue-rotate(180deg);
}

.invert {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.opacity {
  -webkit-filter: opacity(50%);
  filter: opacity(50%);
}

.saturate {
  -webkit-filter: saturate(7);
  filter: saturate(7);
}

.sepia {
  -webkit-filter: sepia(100%);
  filter: sepia(100%);
}

.shadow {
  -webkit-filter: drop-shadow(8px 8px 10px green);
  filter: drop-shadow(8px 8px 10px green);
}
