<div ngClass="main-class">

  <!--load buttons which are used to edit an image-->
  <div style="display: inline; float: left; margin-top: 5%; ">
    <ul style="list-style: none; margin-top: 5%;">
      <li class="edit-button" *ngFor="let button of edit_buttons">
        <div class="edit-button" id="{{ button.id  }}" (click)="onSelectButton(button)">
          <i style="color: white; margin-top: 10px;" class="{{button.icon}} fa-3x" aria-hidden="true"></i>
          <div style="margin-top: 8px">{{ button.name | uppercase}}</div>
        </div>
      </li>
    </ul>

    <!-- load quick edit button -->
    <div style="margin-left: 22%">
      <ul style="list-style: none; float: right; position: absolute; overflow: hidden; bottom: 2%; margin-top: 9%; display: block">
        <li class="quick-edit-list" [class.selected]="selectedButton && selectedButton.name === button.name"
            *ngFor="let button of quick_edit">
          <div class="quick-edit-button" id="quick-edit" style="margin-left: 1%;"
               (click)="onSelectButton(button)">
            <i style="margin-top: 10px" class="fa fa-pencil-square-o fa-3x" aria-hidden="true"></i><br>
            <div style="margin-top: 8px">{{button.name | uppercase}}</div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- load options of quick edit button -->

  <ul style="list-style: none;float: left; position: static; overflow: hidden; margin-top: 11.5%;bottom: 2%" *ngIf="selectedButton">
    <li class="quick-edit-button" *ngFor="let button of quick_edit_buttons" (click)="onSelectOptionButton(button)">
      <div class="quick-edit-button">
        <i style="color: white; margin-top: 10px;" class="{{button.icon}} fa-3x" aria-hidden="true"></i>
        <div style="margin-top: 8px">{{button.name | uppercase}}</div>
      </div>
    </li>
  </ul>

  <!-- load options of adjustment button options-->

  <ul style="list-style: none;float: left; position: static; margin-top: 5%" *ngIf="selectedAdjustmentButton">
    <li class="adjustment-button" *ngFor="let button of adjust_buttons_options">
      <div class="adjustment-edit-button">
        <i style="color: white; margin-top: 10px;" class="{{button.icon}} fa-3x" aria-hidden="true"></i>
        <div style="margin-top: 8px">{{button.name | uppercase}}</div>
      </div>
    </li>
  </ul>

  <!-- load options of Effect button options-->

  <ul style="list-style: none;float: left; position: static; margin-top: 1%" *ngIf="selectedEffectButton">
    <li class="effect-button" *ngFor="let button of effect_button_options_01">
      <div class="effect-edit-button" (click)="addEffect(button)">
        <img style="margin-top: 2px;border-radius: 0.5em;" src="../../assets/effects/png/{{button.icon}}">
        <div style="margin-top: 8px">{{button.name | uppercase}}</div>
      </div>
    </li>
  </ul>


  <ul style="list-style: none;float: left; position: static; margin-top: 1%" *ngIf="selectedEffectButton">
    <li class="effect-button" *ngFor="let button of effect_button_options_02">
      <div class="effect-edit-button" (click)="addEffect(button)">
        <img style="margin-top: 2px;border-radius: 0.5em;" src="../../assets/effects/png/{{button.icon}}">
        <div style="margin-top: 8px">{{button.name | uppercase}}</div>
      </div>
    </li>
  </ul>

  <!-- load options of border button -->
  <ul style="list-style: none;float: left; position: static; margin-top: 1%" *ngIf="selectedBorderButton">
    <li class="border-button" *ngFor="let button of border_button_options">
      <div class="border-edit-button">
        <!--<i style="color: white; margin-top: 10px;" class="{{button.icon}} fa-3x" aria-hidden="true"></i>-->
        <img style="margin-top: 2px;border-radius: 0.5em;" src="../../assets/borders/{{button.icon}}">
        <div style="margin-top: 8px">{{button.name | uppercase}}</div>
      </div>
    </li>
  </ul>


  <!-- load operation buttons : cancel, save, print-->
  <ul class="operation_button_set">
    <li>
      <div class="operation_button" *ngFor="let button of operation_buttons" (click)="onOperationButtonClick(button)">
        <i style="color: white; margin-top: 10px;" class="{{button.icon}} fa-3x" aria-hidden="true"></i><br>
        <div style="margin-top: 8px">{{ button.name | uppercase }}</div>
      </div>
    </li>
  </ul>

  <div id="image-div" style="position: fixed" (click)="onDeselectButton()">
    <img id="editing-image" [src]="url" style="object-fit: cover" class="{{effect}}">
  </div>



  <!--<div>-->
    <div id="slider-container" *ngIf="selectedOptionButton">
      <input id="slider" type="range" style="background-color: #2B2B2B;">
    </div>
  <!--</div>-->

</div>
