<div id="main-div">
  <div id="operation-container">
    <div style="height: 1%"></div>
    <h1 style="cursor: default">PHOTO TUB</h1>
    <div>
      <i style="color: white; cursor: pointer;" class="fa fa-user-circle-o fa-3x" aria-hidden="true"></i><br>
      <input type="file" style=" cursor: pointer; font-size: 12px; margin-top: 2%; margin-left: 23%" (change)="readUrl($event)">
      <!--<object *ngIf="url" [data]="url"></object>-->
      <img src="data:image/jpg;base64,{{url}}">
    </div>
  </div>
</div>
